.flag--dashboardPlugins .invis {
    opacity: 0 !important;
    pointer-events: none !important;
}

.flag--dashboardPlugins .inline_notification {
    pointer-events: none;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg {
    min-height: 64px;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .group_label {
    margin-left: 0px;
    margin-right: 0px;
    display: inline-flex;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .group_label .dashboardPlugins-tumblr-icon {
    animation: dashboardPlugins-btn-grow .3s cubic-bezier(.175,.885,.32,1.275) .4s forwards;
    top: -2px;
    pointer-events: all;
    border: none;
    background-size: cover;
    background-color: var(--dashboardPlugins-blue);
    background-image: url(https://jorubyp.github.io/dashboard-plugins/images/icon-plus-only_white.svg);
    right: -16px;
    position: relative;
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),opacity .1s cubic-bezier(.165,.84,.44,1)
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting {
    padding-right: 50px;
    margin-right: 0px;
    background: white;
    transition: .2s ease;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.placeholder {
    height: 0px;
    margin: 0px;
    color: var(--dashboardPlugins-blueGrey);
    padding-left: 0px;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.checkbox {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.checkbox .help_text {
    margin: 0 0 10px;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.checkbox:last-of-type {
    margin-bottom: -20px;
    padding-bottom: 19px;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.checkbox:last-of-type .help_text {
    margin: 0px;
    padding-bottom: 0px;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.checkbox.invis {
    transform: scale(0.7);
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting .dashboardPlugins-tumblr-icon {
    position: relative;
    top: 3px !important;
    right: -13px;
    margin-top: -7px;
    display: inline-block;
    font-size: 21px;
    color: var(--dashboardPlugins-blueGrey);
    background-color: transparent;
    border: none;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting .dashboardPlugins-tumblr-icon.settings-icon-hollow {
    font-size: 22px;
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),opacity .1s cubic-bezier(.165,.84,.44,1);
}

.flag--dashboardPlugins .dashboardPlugins-cfg .setting.checkbox:hover .dashboardPlugins-tumblr-icon {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

@keyframes dashboardPlugins-btn-grow {
    100% {
    transform: scale(1);
    opacity: 1;
    }
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .group_label .dashboardPlugins-tumblr-icon:before {
    left: -3px;
}
