.flag--dashboardPlugins .invis {
    opacity: 0 !important;
    pointer-events: none !important;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg {
    min-height: 64px;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .group_label {
    margin-left: 0px;
    margin-right: 0px;
    display: inline-flex;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .group_label .dashboardPlugins-tumblr-icon {
    animation: dashboardPlugins-btn-grow .3s cubic-bezier(.175,.885,.32,1.275) .4s forwards;
    top: -2px;
    pointer-events: all;
    border: none;
    background-size: cover;
    background-color: var(--dashboardPlugins-blueGrey);
    right: -16px;
    overflow: hidden;
    position: relative;
}
.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .group_label .dashboardPlugins-tumblr-icon:before {
    content: " ";
    position: absolute;
    width: 21px;
    height: 21px;
    left: 0px;
    top: 0px;
    background-color: var(--dashboardPlugins-blue);
    border-radius: 100%;
    transform: scale(0);
    opacity: 0;
    transition: transform .4s cubic-bezier(0.18, 0.89, 0.25, 1.01) 0s,opacity .2s cubic-bezier(.165,.84,.44,1)
}
.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .group_label .dashboardPlugins-tumblr-icon:hover:before {
    transform: scale(1);
    opacity: 1;
}
.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .group_label .dashboardPlugins-tumblr-icon:after {
    background-image: url(https://jorubyp.github.io/dashboard-plugins/images/icon-plus-only_white.svg);
    content: " ";
    position: absolute;
    width: 21px;
    height: 21px;
    left: 0px;
    top: 0px;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting {
    padding-right: 50px;
    margin-right: 0px;
    background: white;
    transition: .2s ease;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.placeholder {
    height: 0px;
    margin: 0px;
    color: var(--dashboardPlugins-blueGrey);
    padding-left: 0px;
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.checkbox {
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.checkbox .help_text {
    margin: 0 0 10px;
}
.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.checkbox:last-of-type {
    margin-bottom: -20px;
    padding-bottom: 19px;
}
.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.checkbox:last-of-type .help_text {
    margin: 0px;
    padding-bottom: 0px;
}
.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting.checkbox.invis {
    transform: scale(0.7);
}

.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting .dashboardPlugins-tumblr-icon {
    position: relative;
    top: 3px !important;
    right: -13px;
    margin-top: -7px;
    display: inline-block;
    font-size: 21px;
    color: var(--dashboardPlugins-blueGrey);
    background-color: transparent;
    border: none;
}
.flag--dashboardPlugins .settings_group.dashboardPlugins-cfg .setting .dashboardPlugins-tumblr-icon.settings-icon-hollow {
    font-size: 22px;
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),opacity .1s cubic-bezier(.165,.84,.44,1);
}
.flag--dashboardPlugins .dashboardPlugins-cfg .setting.checkbox:hover .dashboardPlugins-tumblr-icon {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

@keyframes dashboardPlugins-btn-grow {
    100% {
    transform: scale(1);
    opacity: 1;
    }
}

.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer {
    width: 488px;
}

.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-drawer {
    display: flex;
    flex-direction: column;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-drawer .peepr-body {
    display: inline-block;
    min-height: unset;
    flex: 1;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info {
    color: var(--dashboardPlugins-eaud-darkGrey);
    background: white;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .navigation {
    width: 488px;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .navigation a .full_url{
    max-width: 270px;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .navigation h3,
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .navigation .open_blog_button {
    color: var(--dashboardPlugins-darkGrey);
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .navigation button.chrome{
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    border-radius: 2px;
    border-color: #9da6af;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .navigation button.chrome:hover {
    background-color: var(--dashboardPlugins-red);
    border-color: var(--dashboardPlugins-red);
    color: #FFF;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .avatar {
    margin: 20px auto 27px;
    transform: scale(1);
    opacity: 1;
    transition: transform .2s;
    transition-delay: .5s;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .avatar.invis {
    transform: scale(0);
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .info_wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .info_wrapper .info {
    border-bottom: 2px solid #e7e7e7;
    padding: 0px 30px 10px 30px;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .info_wrapper .info .title {
    font-size: 24px;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .header .indash_header_wrapper.has_info .info_wrapper .info .description {
    color: rgba(68,68,68,0.7);
    padding: 0px 40px;
}

.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .keycommand-guide {
    width: -webkit-fill-available;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .keycommand-guide .keycommand-guide-section {
    margin: 10px 0 0;
}
.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-body .indash_blog .keycommand-guide .keycommand-guide-section  .keycommand-guide-section-item .binary_switch {
    margin: 11px auto;
    float: right;
}

.flag--dashboardPlugins .drawer.peepr-drawer-container.plugin-cfg-drawer .peepr-plugin-actions {
    margin: 20px auto 15px auto;
}