:root{
    --dashboardPlugins-background: #001935;
    --dashboardPlugins-glass: #001935f2;
    --dashboardPlugins-green: #00cf35;
    --dashboardPlugins-blue: #00b8ff;
    --dashboardPlugins-blue-focus: #00b1f5;
    --dashboardPlugins-red: #ff492f;
    --dashboardPlugins-purple: #7c5cff;
    --dashboardPlugins-orange: #ff8a00;
    --dashboardPlugins-blueGrey: #9da6af;
    --dashboardPlugins-darkGrey: #000;
    --dashboardPlugins-transparentWhite: #ffffff66;
}

.flag--dashboardPlugins .dashboardPlugins-btn {
    font-family: tumblr-icons,Blank;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
}

.flag--dashboardPlugins .dashboardPlugins-btn.settings-icon:before {
    content: "\EA9B";
}

.flag--dashboardPlugins .dashboardPlugins-btn.settings-icon-hollow:before {
    content: "\EA9A";
}